<h1>Detail</h1>
<div class="container">
<table class="table-hover">
    <tr>
        <td class="col-sm-2">
            Name:
        </td>
        <td>
            {{$ctrl.contact.name}}
        </td>
    </tr>
    <tr>
        <td class="col-sm-2">
            Surname:
        </td>
        <td>
            {{$ctrl.contact.surname}}
        </td>
    </tr>
    <tr>
        <td class="col-sm-2">
            Phone:
        </td>
        <td>
            {{$ctrl.contact.phone}}
        </td>
    </tr>
    <tr>
        <td class="col-sm-2">
            Info:
        </td>
        <td>
            {{$ctrl.contact.info}}
        </td>
    </tr>
    <tr>
        <td class="col-sm-2">
            Birthday:
        </td>
        <td>
            {{$ctrl.contact.birthday}}
        </td>
    </tr>
</table>
</div>